<% provide(:title, 'Multiple Choice Questions') %>

<main role="main" class="container">

  <h1>Multiple Choice Questions</h1>

  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Question</th>
        <th scope="col">Answer</th>
        <th scope="col">Distractor 1</th>
        <th scope="col">Distractor 2</th>
        <th scope="col">Distractor 3</th>
        <th scope="col">Distractor 4</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @multiple_choice_questions.each do |question| %>
        <tr>
          <td><%= question.question %></td>
          <td><%= question.answer %></td>
          <td><%= question.distractor_1 %></td>
          <td><%= question.distractor_2 %></td>
          <td><%= question.distractor_3 %></td>
          <td><%= question.distractor_4 %></td>
          <td>
            <%= link_to 'Show', multiple_choice_question_path(question) %>
            <%= link_to 'Edit', edit_multiple_choice_question_path(question) %>
            <%= link_to 'Destroy', multiple_choice_question_path(question), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p>
    <%= link_to 'New Multiple Choice Question', new_multiple_choice_question_path %>
  </p>

</main><!-- /.container -->
