
<main role="main" class="container">

  <p>
    <b>Question:</b> <%= @multiple_choice_question.question %>
  </p>

  <p>
    <b>Answer:</b> <%= @multiple_choice_question.answer %>
  </p>

  <p>
    <b>Distractor 1:</b> <%= @multiple_choice_question.distractor_1 %>
  </p>

  <p>
    <b>Distractor 2:</b> <%= @multiple_choice_question.distractor_2 %>
  </p>

  <p>
    <b>Distractor 3:</b> <%= @multiple_choice_question.distractor_3 %>
  </p>

  <p>
    <b>Distractor 4:</b> <%= @multiple_choice_question.distractor_4 %>
  </p>

  <p>
    <%= link_to 'Edit', edit_multiple_choice_question_path(@multiple_choice_question) %> |
    <%= link_to 'Back', multiple_choice_questions_path %>
  </p>

</main><!-- /.container -->
